html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	font-size: 16px;
	overflow: auto;
	background: linear-gradient(to bottom right, #00004f 0%, #000034 100%);
	background-attachment: fixed;
	width: 100%;
	height: auto;

}
.membership-background {
	font-size: 16px;
	overflow: auto;
	border-radius: 10px;
	background-size: 100% 100%;
	background-image: url("../img/membership_background.jpg");
	background-attachment: fixed;
	image-rendering: pixelated;
}
.font-0 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.avatar {
	width: 50px;
	height: 50px;
	image-rendering: pixelated;
	border-radius: 50%;
	padding: 10px;
}
.membership-font {
	color: white;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-headers {
	font-weight: bold;
	font-size: 50px;
	width: 650px;
	margin: 0 auto;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-btn {
	position: sticky;
	top: 1000px;
	text-align: center;
	direction: ltr;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.membership-group {
	margin: 0 auto;
	width: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.membership-offer {
	width: 700px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(115, 138, 255, 0.5);
	background-color: rgba(115, 138, 255, 0.5);
	backdrop-filter: blur(2px);
}
.logo {
	width: 150px;
	margin: 30px auto;
	text-align: center;
	display: table;
	animation-name: logo-move;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes logo-move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.text-align {
	align-content: center;
}
.page-section {
	text-align: center;
	vertical-align: top;
	padding: 10px;
	background-color: rgba(0, 111, 255, 0.25);
}
.profile-headers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.profile-text {
	padding: 10px;
}
.profile-bio {
	margin: 5px 0px;
	padding: 10px;
	border-radius: 10px;
}
.profile-picture {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	image-rendering: pixelated;
}
.profile-bio-box {
	font-size: 18px;
	resize: none;
	color: #ffffff;
	background-color: rgb(90, 90, 90);
}
.text-with-shadow {
	background-color: rgba(46, 46, 46, 0.559);
}
.header {
	align-items: center;
	width: 45%;
	height: 75%;
	margin: 20px;
}
.navigation-background {
	background-color: rgba(67, 92, 255, 0.272);
}
.navigation {
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.term-condition-box {
	display: block;
	margin: 0.1em;
	border-radius: 10px;
	border: 3px solid #dddddd;
	background-color: #eeeeee21;
	max-width: 500px;
}
.button-term-conditions {
	text-decoration: underline;
	cursor: pointer;
	color: rgb(1, 28, 102);
	font-weight: bold;
	font-size: 16px;
	padding: 15px 20px;
	border: 0px solid white;
	background-color: rgba(41, 67, 195, 0);
	transition: 0.3s;
}
.button-borderless {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 20px;
	border: 0px solid white;
	background-color: rgb(41, 67, 195);
	transition: 0.3s;
}
.button-borderless:hover {
	background-color: rgb(75, 114, 255);
}
.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.button {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 15px 100px;
	background-color: rgb(41, 67, 195);
	transition: 0.3s;
}
.button:hover {
	background-color: rgb(75, 114, 255);
}
.button:active {
	background-color: rgba(255, 255, 255, 0.523);
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 29, 0.5);
}
.main {
	margin: 10px 30px;
}
.sign-up {
	margin: 0 auto;
	width: 50%;
}
.background {
	border-radius: 10px;
	padding: 10px;
	border: 3px solid rgba(255, 255, 255);
	background-color: rgba(66, 57, 131, 0.308);
	color: white;
}
.home-page {
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex: auto;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.footer {
	border: none;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 50%);
	width: 100%;
	padding: 5px;
}
.group {
	display: flex;
	padding: 2px;
	width: 100%;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}
.group-box-column-name {
	line-height: 0;
	padding: 0;
	margin: 0;

}
.group-box-row-stretch {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;;
}
.group-box-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
}
.group-box-row .stretch {
	width: 100%;
}
.group-box-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}
textIcon {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}
.centered-text {
	align-self: center;
	padding: 10px;
	width: 50px;
	height: auto;
	image-rendering: pixelated;
}
.popup {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}
.popup-content {
	background-color: rgba(58, 58, 58);
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid rgb(191, 191, 191);
	width: 30%;
	font-weight: bolder;
}
.popup-content button {
	display: block;
	margin: 0 auto;
}
.hide-text {
	display: none;
}
.show {
	display: block;
}
/* CUSTOM OPTION BAR */
.custom-select {
	position: relative;
	font-family: Arial;
}

.custom-select select {
	display: none; /*hide original SELECT element:*/
}

.select-selected {
	background-color: DodgerBlue;
}

/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #fff transparent;
	top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
	color: #ffffff;
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
	cursor: pointer;
	user-select: none;
}

/*style items (options):*/
.select-items {
	position: absolute;
	background-color: rgb(104, 104, 104);
	top: 100%;
	left: 0;
	right: 0;
	text-align: center;
	align-items: start;
	z-index: 99;
}

/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}

.select-items div:hover,
.same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 910px) {
	.navigation {
		flex-direction: column;
		align-content: center;
	}
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	.main,
	.sign-up {
		margin: 1px 5px;
	}
}
