html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	font-size: 16px;
	overflow: auto;
	background: linear-gradient(to bottom right, #00004f 0%, #000034 100%);
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
a:link {
	color: rgb(91, 135, 255);
}
a:visited {
	color: rgb(91, 135, 255);
}
a:active {
	color: rgb(91, 135, 255);
}
a.button:link,
a.button:active,
a.button:visited {
	color: rgb(255, 255, 255);
}
.membership-background {
	font-size: 16px;
	overflow: auto;
	border-radius: 10px;
	background-size: 100% 100%;
	background-image: url("../img/membership_background.jpg");
	background-attachment: fixed;
	image-rendering: pixelated;
}
.sign-up-background {
	font-size: 16px;
	overflow: auto;
	border-radius: 10px;
	background-size: 100% 100%;
	background-image: url("../img/sign_up_background.png");
	background-attachment: fixed;
}
.font-0 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.avatar {
	width: 50px;
	height: 50px;
	image-rendering: pixelated;
	border-radius: 50%;
	padding: 10px;
}
.membership-font {
	color: white;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-headers {
	font-weight: bold;
	font-size: 50px;
	width: 650px;
	margin: 0 auto;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-btn {
	position: sticky;
	top: 1000px;
	text-align: center;
	direction: ltr;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.membership-group {
	margin: 0 auto;
	width: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.membership-offer {
	width: 700px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(115, 138, 255, 0.5);
	background-color: rgba(115, 138, 255, 0.5);
	backdrop-filter: blur(2px);
}
.logo {
	width: 150px;
	margin: 30px auto;
	text-align: center;
	display: table;
	animation-name: logo-move;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes logo-move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.text-align {
	align-content: center;
}
.profile-headers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	align-items: center;
	background: linear-gradient(to bottom, #525252c1 0%, #28282878 100%);
	border-radius: 0 0 10px 10px;
	backdrop-filter: blur(2px);
	padding: 25px;
	border-bottom: 5px white;
	box-shadow: 0px 0 5px 0 rgba(0, 0, 0, 0.4);
}
.profile-text {
	padding: 10px;
}
.profile-bio {
	margin: 5px 0px;
	padding: 10px;
	border-radius: 10px;
}
.profile-picture {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	image-rendering: pixelated;
}
.profile-icons {
	border-radius: 10px;
	border: 2px solid rgb(30, 30, 30);
	border-bottom: 2px solid rgb(75, 75, 75);
	border-right: 2px solid rgb(75, 75, 75);
	background-color: rgb(51, 51, 51);
	padding: 0 10px;
	margin: 0px 2px;
	text-align: center;
	width: 50px;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bold;
}
.icon-texts {
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
}
.reason-box {
	font-size: 18px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
}
.profile-bio-box {
	font-size: 18px;
	resize: none;
	color: #ffffff;
	background-color: rgb(90, 90, 90);
}
.text-with-shadow {
	background-color: rgba(46, 46, 46, 0.559);
}
.edit-profile-header {
	backdrop-filter: blur(2px);
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	border-radius: 10px 10px 0 0;
	background-color: rgba(31, 31, 31, 0.719);
	align-items: center;
	justify-content: space-between;
}
.edit-profile-box {
	backdrop-filter: blur(2px);
	height: 30px;
	margin: 10px;
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-decoration: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(191, 191, 191);
	justify-content: space-around;
}
.edit-profile-box input {
	backdrop-filter: blur(2px);
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: none;
	justify-content: space-around;
}
.edit-profile-box input:focus {
	border: none;
	backdrop-filter: blur(2px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	justify-content: space-around;
}
.edit-profile-body {
	overflow-y: auto;
	backdrop-filter: blur(2px);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-color: rgb(31, 31, 31);
	justify-content: space-around;
}
.edit-profile-content {
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	width: 40%;
	font-weight: bolder;
}
.edit-profile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 10px;
}
.header {
	align-items: center;
	display: flex;
	width: 45%;
	height: 75%;
	padding: 10px;
	margin: 0 auto;
}
.navigation-background {
	background-color: rgb(41, 67, 195);
}
.navigation {
	font-size: 12px;
	align-items: start;
	display: flex;
	background-color: rgb(41, 67, 195);
}
.profile-background {
	position: relative;
	width: 100%;
}
.profile-description {
	position: relative;
	z-index: 1;
	background-color: rgb(66, 66, 66);
	border: 2px solid rgb(30, 30, 30);
	border-top: 2px solid rgb(71, 71, 71);
	border-left: 2px solid rgb(71, 71, 71);
	padding: 5px;
	margin: 0;
	line-height: 1;
}
.term-condition-box {
	display: block;
	margin: 0.1em;
	border-radius: 10px;
	border: 3px solid #dddddd;
	background-color: #eeeeee21;
	max-width: 500px;
}
.button-term-conditions {
	text-decoration: underline;
	cursor: pointer;
	color: rgb(1, 28, 102);
	font-weight: bold;
	font-size: 16px;
	padding: 15px 20px;
	border: 0px solid white;
	background-color: rgba(41, 67, 195, 0);
	transition: 0.3s;
}
.button-icon {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: 0px solid white;
	font-size: 25px;
	background-color: rgba(1, 28, 102, 0);
}
.button-icon:hover {
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.304);
}
.button-borderless {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 15px;
	border: 0px solid white;
	background-color: rgb(41, 67, 195);
	transition: 0.3s;
}
.button-borderless:hover {
	background-color: rgb(75, 114, 255);
}
.button[name="remove"]:hover {
	background-color: rgb(255, 77, 77);
}
.button-borderless[name="remove"]:hover {
	background-color: rgb(255, 77, 77);
}
.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 16px 60px;
	background-color: rgb(41, 67, 195);
	transition: 0.3s;
}
.navigation .button {
	font-size: 16px;
	padding: 16px;
	width: 200px;
}
.group-box-column .button {
	font-size: 16px;
	padding: 16px;
}
.button:hover {
	background-color: rgb(75, 114, 255);
}
.button:active {
	background-color: rgba(255, 255, 255, 0.523);
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 29, 0.5);
}
.main {
	margin: 10px 30px;
}
.forget-password-background {
	color: white;
	margin: 0 auto;
	border-radius: 10px;
	border: 3px solid rgba(255, 255, 255);
	width: 550px;
	padding: 10px;
}
.forget-password {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}
.sign-up {
	margin: 0 auto;
	width: 30%;
	backdrop-filter: blur(2px);
}
.background {
	border-radius: 10px;
	padding: 10px;
	border: 3px solid rgba(255, 255, 255);
	background-color: rgba(66, 57, 131, 0.308);
	color: white;
}
.home-page {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.footer {
	bottom: 0;
	border: none;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 50%);
	padding: 5px;
}
.title-box {
	position: relative;
	top: -35px;
	z-index: 1;
	text-align: center;
	padding: 5px;
	border: 1px solid white;
	backdrop-filter: blur(500px);
}
.group {
	margin: 0.55em;
	display: flex;
	padding: 2px;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
.group-box-column-name {
	line-height: 0;
	padding: 0;
	margin: 0 10px;
}
.group-box-row-stretch {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
}
.group-box-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}

.group-box-row-no-warp {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	width: 100%;
}
.group-box-row .stretch {
	width: 100%;
}
.no-overlap {
	margin: 0 5px;
}
.group-box-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-left: 0.56em 0.75em;
}
textIcon {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}
.centered-text {
	align-self: center;
	padding: 10px;
	width: 50px;
	height: auto;
	image-rendering: pixelated;
}
.popup {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}
.popup-content {
	background-color: rgba(58, 58, 58);
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid rgb(191, 191, 191);
	width: 30%;
	font-weight: bolder;
}
.popup-content button {
	display: block;
	margin: 0 auto;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.custom-select-0 {
	position: relative;
}

.custom-select-1 {
	position: relative;
}
.custom-select-1 select {
	appearance: none;
	/*  safari  */
	-webkit-appearance: none;
	/*  other styles for aesthetics */
	width: 100%;
	padding: 10px;
	background-color: #ededed;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
}
.custom-select-0 select {
	appearance: none;
	/*  safari  */
	-webkit-appearance: none;
	/*  other styles for aesthetics */
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 910px) {
	.navigation {
		flex-direction: column;
	}
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	.main,
	.sign-up {
		margin: 1px 5px;
	}
	.profile-picture {
		margin: 0 auto;
	}
}
