html {
	font-family: Arial, Helvetica, sans-serif;
}
body {
	font-size: 16px;
	overflow: auto;
	background: linear-gradient(to bottom right, #00004f 0%, #000034 100%);
	background-attachment: fixed;
	height: auto;
	margin: 0;
}
input[type="number"]::-webkit-inner-spin-button {
	display: none;
}
a:link {
	color: rgb(91, 135, 255);
}
a:visited {
	color: rgb(91, 135, 255);
}
a:active {
	color: rgb(91, 135, 255);
}
a.button:link,
a.button:active,
a.button:visited {
	color: rgb(255, 255, 255);
}
.membership-background {
	font-size: 16px;
	overflow: auto;
	border-radius: 10px;
	background-size: 100% 100%;
	height: 800px;
	background-image: url("../img/membership_background.jpg");
	background-attachment: fixed;
	image-rendering: pixelated;
}
.sign-up-background {
	font-size: 16px;
	overflow: auto;
	border-radius: 10px;
	background-size: 100% 100%;
	background-image: url("../img/sign_up_background.png");
	background-attachment: fixed;
}
.font-0 {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-font {
	color: white;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-headers {
	font-weight: bold;
	font-size: 50px;
	width: 650px;
	margin: 0 auto;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
}
.membership-btn {
	position: sticky;
	top: 1000px;
	text-align: center;
	direction: ltr;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.membership-group {
	margin: 0 auto;
	width: 700px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.membership-offer {
	width: 700px;
	margin: 5px;
	padding: 5px;
	border-radius: 10px;
	border: 1px solid rgba(115, 138, 255, 0.5);
	background-color: rgba(115, 138, 255, 0.5);
	backdrop-filter: blur(2px);
}
.logo {
	width: 150px;
	margin: 30px auto;
	text-align: center;
	display: table;
	animation-name: logo-move;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes logo-move {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.text-align {
	align-content: center;
}
.profile-header-picture {
	z-index: -1;
	top: 0;
	left: 30%;
	display: block;
	margin: 0 auto;
	position: absolute;
	color: white;
	align-items: center;
	border-radius: 0 0 10px 10px;
	backdrop-filter: blur(2px);
	height: 350px;
	max-height: 350px;
	min-height: 350px;
	border-bottom: 5px white;
	box-shadow: 0px 0 5px 0 rgba(0, 0, 0, 0.4);
}
.profile-headers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	color: white;
	align-items: center;
	background: linear-gradient(to bottom, #525252c1 0%, #28282878 100%);
	border-radius: 0 0 10px 10px;
	backdrop-filter: blur(2px);
	padding: 25px;
	height: 300px;
	max-height: 300px;
	min-height: 300px;
	border-bottom: 5px white;
	box-shadow: 0px 0 5px 0 rgba(0, 0, 0, 0.4);
}
.badge-icon {
	width: 24px;
	height: 24px;
	image-rendering: optimizeQuality;
}
.profile-text {
	padding: 10px;
}
.profile-bio {
	margin: 5px 0px;
	padding: 10px;
	border-radius: 10px;
}
.profile-picture {
	width: 210px;
	height: 210px;
	border-radius: 50%;
	image-rendering: pixelated;
}
.profile-icons {
	border-radius: 10px;
	border: 2px solid rgb(30, 30, 30);
	border-bottom: 2px solid rgb(75, 75, 75);
	border-right: 2px solid rgb(75, 75, 75);
	background-color: rgb(51, 51, 51);
	padding: 0 10px;
	margin: 0px 2px;
	text-align: center;
	width: 50px;
	font-variant: small-caps;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-weight: bold;
}
.icon-texts {
	border: none;
	display: flex;
	align-items: center;
}
.headers {
	font-size: 25px;
	color: rgb(255, 255, 255);
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-variant: small-caps;
}
.tooltip {
	font-size: 16px;
	color: gray;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-variant: small-caps;
}
.reason-box {
	font-size: 18px;
	resize: none;
	font-family: Arial, Helvetica, sans-serif;
	background-color: rgb(255, 255, 255);
}
.profile-bio-box {
	font-size: 18px;
	resize: none;
	color: #ffffff;
	background-color: rgb(90, 90, 90);
}
.text-with-shadow {
	background-color: rgba(46, 46, 46, 0.559);
}
.edit-profile-box {
	backdrop-filter: blur(2px);
	height: 30px;
	color: rgb(0, 0, 0);
	margin: 10px;
	display: block;
	flex-direction: column;
	flex-wrap: wrap;
	text-decoration: none;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: 2px solid rgb(191, 191, 191);
}
.edit-profile-box input {
	backdrop-filter: blur(2px);
	color: rgb(0, 0, 0);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	border: none;
	justify-content: space-around;
}
.edit-profile-box input:focus {
	border: none;
	backdrop-filter: blur(2px);
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	border-radius: 5px;
	background-color: rgb(255, 255, 255);
	justify-content: space-around;
}
.deactivated-confirmation-container {
	overflow: auto;
	backdrop-filter: blur(2px);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	padding: 5px;
	border-radius: 10px;
	background-color: rgb(16, 16, 16);
	justify-content: space-around;
}
.deactivated-confirmation-content {
	margin: 10% auto;
	padding: 20px;
	width: 30%;
	height: 200px;
	font-weight: bolder;
}
.edit-profile-container {
	overflow: auto;
	backdrop-filter: blur(2px);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height: 550px;
	border-radius: 10px;
	background-color: rgb(16, 16, 16);
	justify-content: space-around;
}
.edit-profile-header {
	backdrop-filter: blur(2px);
	color: white;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	background-color: rgba(31, 31, 31, 0.719);
	align-items: center;
	justify-content: space-evenly;
}
.edit-profile-body {
	overflow: auto;
	backdrop-filter: blur(2px);
	color: white;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
	height: 550px;
	border-radius: 0 0 10px 10px;
	background-color: rgb(31, 31, 31);
	justify-content: space-around;
}
.edit-profile-content {
	margin: 10% auto;
	padding: 20px;
	width: 30%;
	height: 350px;
	font-weight: bolder;
}
.edit-profile {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: baseline;
	padding: 10px;
}
.header {
	align-items: center;
	display: flex;
	width: 45%;
	height: 75%;
	padding: 10px;
	margin: 0 auto;
}
.navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(41, 67, 195);
}
.navigation li {
	float: left;
}
.navigation li a {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	color: white;
	justify-content: center;
	align-items: center;
}
.profile-background {
	position: relative;
	width: 100%;
}
/* Dropdown */
.navigation li .dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(36, 37, 38);
	border-radius: 5px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}
.navigation .dropdown-content a {
	color: rgb(255, 255, 255);
	background-color: rgb(36, 37, 38);
	padding: 0 16px;
	height: 50px;
	text-decoration: none;
	display: flex;
	text-align: left;
	justify-content: start;
}
.dropdown:hover .dropdown-content {
	display: block;
}
.navigation .dropdown-content a:hover {
	background-color: rgb(72, 72, 72);
}
/* End */
.account-header {
	align-items: center;
	text-align: end;
	text-decoration: none;
	color: white;
	font-weight: bold;
	margin: 0 2.50em;
	padding: 0 50px;
	border-radius: 15px;
	background-color: rgb(41, 67, 195);
}
.account-header:hover {
	background-color: rgb(75, 114, 255);
}
.icon-navigation-logo {
	margin: 0 25px;
	width: 46px;
	height: 46px;
	image-rendering: optimizeSpeed;
}
.icon-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	border: 5px solid rgb(58, 59, 60);
	background-color: rgb(58, 59, 60);
}
.icon-navigation-pos {
	margin-left: 10px;
}
.account-header-text {
	align-items: center;
	margin: 0 auto;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.account-header::after {
	content: "";
	top: 14px;
	right: 10px;
	width: 0;
	height: 0;
	margin-left: 0.53em;
	border: 6px solid transparent;
	border-color: #fff transparent transparent transparent;
}
.account-header-button {
	align-items: center;
	text-align: end;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
}
.avatar {
	width: 50px;
	height: 50px;
	padding: 0;
	margin: 0 0.54em;
	justify-content: left;
	image-rendering: optimizeSpeed;
	border-radius: 50%;
}
/* END */
.profile-description {
	position: relative;
	z-index: 1;
	background-color: rgb(66, 66, 66);
	border: 2px solid rgb(30, 30, 30);
	border-top: 2px solid rgb(71, 71, 71);
	border-left: 2px solid rgb(71, 71, 71);
	padding: 5px;
	margin: 0;
	line-height: 1;
}
.term-condition-box {
	display: block;
	margin: 0.1em;
	border-radius: 10px;
	border: 3px solid #dddddd;
	background-color: #eeeeee21;
	max-width: 500px;
}
.button-term-conditions {
	text-decoration: underline;
	cursor: pointer;
	color: rgb(1, 28, 102);
	font-weight: bold;
	font-size: 16px;
	padding: 0 20px;
	border: 0px solid white;
	background-color: rgba(41, 67, 195, 0);
	transition: 0.3s;
}
.button-icon {
	display: flex;
	flex-direction: row;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: 0px solid white;
	font-size: 25px;
	background-color: rgba(1, 28, 102, 0);
}

.button-icon-1 {
	font-family: Arial, Helvetica, sans-serif;
	display: flex;
	flex-direction: row;
	cursor: pointer;
	text-decoration: none;
	color: white;
	font-weight: bold;
	border: 0px solid white;
	font-size: 25px;
	background-color: rgba(1, 28, 102, 0);
}
.button-icon-2 {
	padding: 15px;
	margin-left: 0px;
	justify-content: center;
	border-radius: 50%;
	width: 5px;
}
.button-icon-3 {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-decoration: none;
	color: rgb(255, 255, 255);
	font-weight: bold;
	width: 5%;
	padding: 15px;
	border-radius: 50%;
	border: 2px solid white;
	background-color: rgba(46, 77, 255, 0.637);
	backdrop-filter: blur(2px);
	transition: 0.3s;
}
.button-icon:hover {
	color: rgb(255, 94, 94);
}
.button-icon-1:hover,
.button-icon-3:hover {
	color: rgb(0, 179, 255);
}
.button-icon-3:hover {
	background-color: rgba(46, 77, 255, 0.852);
}
.button-borderless {
	display: flex;
	justify-content: center;
	flex-direction: row;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 15px;
	border: 0px solid white;
	background-color: rgb(41, 67, 195);
	transition: 0.3s;
}
.button-borderless:hover {
	background-color: rgb(75, 114, 255);
}
.button[name="remove"]:hover {
	background-color: rgb(255, 77, 77);
}
.button-borderless[name="remove"]:hover {
	background-color: rgb(255, 77, 77);
}
.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}
.button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 16px;
	padding: 16px 60px;
	background-color: rgb(41, 67, 195);
	transition: 0.3s;
}
.navigation .button {
	font-size: 16px;
	padding: 16px;
	width: 200px;
}
.group-box-column .button {
	font-size: 16px;
	padding: 16px;
}
.button:hover {
	background-color: rgb(75, 114, 255);
}
.button:active {
	background-color: rgba(255, 255, 255, 0.523);
	box-shadow: 0px 0px 5px 5px rgba(0, 0, 29, 0.5);
}
.main {
	margin: 10px 30px;
}
.forget-password-background {
	color: white;
	margin: 0 auto;
	border-radius: 10px;
	border: 3px solid rgba(255, 255, 255);
	width: 550px;
	padding: 10px;
}
.forget-password {
	display: flex;
	margin: 0 auto;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
}
.sign-up {
	margin: 0 auto;
	width: 30%;
	backdrop-filter: blur(2px);
}
.background {
	border-radius: 10px;
	padding: 10px;
	border: 3px solid rgba(255, 255, 255);
	background-color: rgba(66, 57, 131, 0.308);
	color: white;
}
.home-page {
	text-align: center;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
}
.footer {
	bottom: 0;
	border: none;
	font-weight: bold;
	text-align: center;
	background-color: rgba(0, 0, 0, 50%);
	padding: 5px;
}
.title-box {
	position: relative;
	top: -35px;
	z-index: 1;
	text-align: center;
	padding: 5px;
	border: 1px solid white;
	backdrop-filter: blur(500px);
}
.group {
	margin: 0.55em;
	display: flex;
	padding: 2px;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
}
.group-box-column-name {
	line-height: 0;
	padding: 0;
	margin: 0 10px;
}
.group-box-row-stretch {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: start;
}
.group-box-row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.group-box-rows {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	width: 100%;
}
.group-box-row-no-warp {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
}
.group-box-row .stretch {
	width: 100%;
}
.no-overlap {
	margin: 0 5px;
}
.group-box-column-no-stretch {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-left: 0.56em 0.75em;
}
.group-box-column {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: stretch;
	margin-left: 0.56em 0.75em;
}
.centered-text {
	align-self: center;
	padding: 10px;
	width: 50px;
	height: auto;
	image-rendering: pixelated;
}
.popup {
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
	display: none;
}
.popup-content {
	background-color: rgba(58, 58, 58);
	margin: 10% auto;
	padding: 20px;
	border-radius: 10px;
	border: 2px solid rgb(191, 191, 191);
	width: 30%;
	font-weight: bolder;
}
.popup-content button {
	display: block;
	margin: 0 auto;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.custom-select-0 {
	position: relative;
}

.custom-select-1 {
	position: relative;
}
.custom-select-1 select {
	appearance: none;
	/*  safari  */
	-webkit-appearance: none;
	/*  other styles for aesthetics */
	width: 100%;
	padding: 10px;
	background-color: #ededed;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
}
.custom-select-0 select {
	appearance: none;
	/*  safari  */
	-webkit-appearance: none;
	/*  other styles for aesthetics */
	width: 100%;
	padding: 10px;
	background-color: #ffffff;
	border: 1px solid #caced1;
	border-radius: 0.25rem;
	color: #000;
	cursor: pointer;
}
.profile-header-picture-container {
	position: absolute;
	top: 0;
}
.profile-picture-container {
	z-index: 1;
	position: relative;
	border-radius: 50%;
}
.profile-header-picture-edit {
	z-index: -1;
	position: relative;
	width: 100%;
}
.profile-picture-edit {
	margin: 0.65em 0.85em;
	position: relative;
	border-radius: 50%;
}
.profile-header-avatar {
	margin: 0.65em 0.85em;
	position: absolute;
	display: flex;
	bottom: 2px;
	right: 0;
	flex-direction: row;
	justify-content: center;
	color: white;
}
.profile-avatar {
	margin: 0.65em 0.85em;
	position: absolute;
	display: flex;
	bottom: 2px;
	left: 0;
	flex-direction: row;
	justify-content: center;
	color: white;
}
.clock-container-body {
	padding: 2px;
	font-size: 18px;
	align-items: center;
	font-family: knight-vision;
	font-variant: small-caps;
}
.clock-container {
	position: absolute;
	display: flex;
	right: 0;
	color: white;
	z-index: 0;
	width: 200px;
	justify-content: center;
	flex-direction: row;
	align-items: center;
	border: 2px solid rgba(0, 0, 0, 0.413);
	padding: 2px;
	font-size: 18px;
	border-radius: 20px;
	background-color: rgba(46, 46, 255, 0.354);
}
@font-face {
	font-family: knight-vision;
	src: url("../font/KnightVision-p7Ezy.ttf");
}
@font-face {
	font-family: breathe-fire;
	src: url("../font/BreatheFireIii-PKLOB.ttf");
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}

.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}

.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

input:checked + .slider {
	background-color: #2196f3;
}

input:focus + .slider {
	box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
.slider-button {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 10px;
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 910px) {
	.navigation {
		flex-direction: column;
	}
	.group-box-row-no-warp {
		flex-wrap: wrap;
	}
	.background[name="configOptions"] {
		width: 200%;
	}
}
/*----- RESPONSIVE -----*/
@media only screen and (max-width: 620px) {
	/* For mobile phones: */
	.main,
	.sign-up {
		margin: 1px 5px;
	}
	.profile-picture {
		margin: 0 auto;
	}
	.button {
		margin: 0 auto;
	}
	.profile-picture {
		justify-content: center;
	}
	.profile-header-picture {
		width: 100%;
		left: 0;
	}
	.profile-headers {
		height: 400px;
		max-height: 400px;
	}
	.button-borderless {
		width: 100%;
	}
}
