td {
    padding: 10px;
    border-bottom: 1px solid rgb(8, 0, 56);
    border-left: 1px solid rgb(8, 0, 56);
    border-collapse: collapse;
}
th {
    padding: 10px;
    background-color: rgb(41, 41, 41);
    border-collapse: collapse;
    border: none;
}
table {
    border: 2px solid rgb(41, 41, 41);
    padding: 10px;
    border-collapse: collapse;
    background-color: rgb(52, 61, 116);
}
.tables {
    width:100%;
}

/*----- RESPONSIVE -----*/
@media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .tables {
        margin: 1px 5px;
    }
}